/* CUSTOM FONT WOOD-CARVED LIKE */

@font-face {
    font-family: 'woodCarved';
    src: url(/fonts/Carved-Wood-5392563/CARVEDWOODRegular.ttf);
}


.col {
    display: inline-flex;
}

.row {
    flex-direction: row;
}

.my-navbar {
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    width: 100%;
    height: 3em;
    /* background-color: beige; */
    /* background-image: url(../imagenes/kisspng-hardwood-wood-flooring-tile-wood-flooring-5a926fae820d40.1960381015195462865327.png); */
    border-bottom: .1em solid black;
    box-shadow: 0.2em 0.8em 5em lightblue;
}

.my-navbar-banner {
    display: flex;
    margin: .5em auto auto 1em;
    align-items: left;
    width: 10em;
    height: 2em;
}

.my-navbar-banner img {
    max-width: 90%;
    max-height: 90%;
}

.my-navbar-row-1 {
    text-align: center;
    margin: auto 3em auto 2em;
}

.my-navbar-row-1 a {
    color: black;
    text-decoration: none;
}

.my-navbar-row-1:hover {
    transform: scale(1.2, 1.2);
    transition: all;
    -webkit-transition: transform .2s ease-in-out;
}


.my-navbar-row-right {
    margin-top: .5em;
    width: 10em;
    height: 2em;
}

.carousel-inner {

    width: 100%;
    max-height: 800px !important;
}

.widthHeightCarousel {

    width: 100%;
}


/* CUSTOM RESPONSIVE NAVBAR LAYOUT */


@media (max-width: 605px) {
    .row {
        flex-direction: column;
    }

    .my-navbar-banner {
        display: flex;
        margin: auto;
        width: 100%;
        height: 2em;
    }

    .my-navbar-banner img {
        margin: auto;
    }

    .my-navbar {
        height: 6em;
    }

    .my-navbar-row-1 {
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 2em;
    }

}

@media (max-width: 788px) {

    .my-navbar-row-right {
        visibility: hidden;
    }
}